spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://localhost:3306/one
    username: ${ONE_DB_USERNAME}
    password: ${ONE_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

#    hikari:
#      pool-name: KC-DEV-HikariCP
#      maximum-pool-size: 5
#      minimum-idle: 1
#      idle-timeout: 30000
#      connection-timeout: 30000
#      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

snowflake:
  worker-id: 1
  datacenter-id: 1